@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Monoton&family=Nothing+You+Could+Do&display=swap');
*{
    font-family: Comfortaa;
    font-size: 10pt;
    color: #edf0f1;
    padding: 0;
    margin: 0;
}

#vanta-section{
    width: 100%;
    height: 100vh;
}

header {
    /* position: fixed; */
    /* height: 100vh; */
    /* width: 10%; */
    margin-left: 100px;
}

.container{
width: 100%;
padding-right: var(--bs-gutter-x,.75rem);
padding-left: var(--bs-gutter-x,.75rem);
margin-right: auto;
margin-left: 0;
}



#logo{
    vertical-align: auto;
    transition: all 0.3s ease 0s;
    font-family: Monoton;
    font-size: 30pt;
    color: #edf0f1;
    font-weight: 400;
}
#description{
    font-size: 16pt;
}




