@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Monoton&family=Nothing+You+Could+Do&display=swap');
*{
    font-family: Comfortaa;
    font-size: 10pt;
    padding: 0;
    margin: 0;
}
body{
    min-height: 100vh;
    width: 100%;
    background: #00416a; 
    background: -webkit-linear-gradient(to right, rgb(0,45,74), rgb(35,35,39)); 
    background: linear-gradient(to right, rgb(0,45,74), rgb(35,35,39));
}
li , button ,a ,ul {
    text-decoration: none;
    list-style: none;
    padding: 0px;
    
}
#vanta-section{
    width: 15%;
    height: 100vh;
}


a{
    display: inline-block;
}
#logo{
    vertical-align: auto;
    transition: all 0.3s ease 0s;
    font-family: Monoton;
    font-size: 18pt;
    color: #edf0f1;
    font-weight: 400;
    border-bottom:1px solid #0088a9 ;

}
#description{
    font-size: 16pt;
}

#name{
    transition: all 0.3s ease 0s;
    font-family: Monoton;
    color: #edf0f1;
    font-weight: 400;
    font-size: 20pt;
}
#number{
    transition: all 0.3s ease 0s;
    font-family: 'Nothing You Could Do';
    color: #edf0f1;
    font-weight: 400;
    font-size: 35pt;
}
